p{
    font-size: large;
}

h1{
    text-align: center;
}

.display-table{
    display: table;
    table-layout: fixed;
}

.display-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.carousel{
    background: #2f4357;
    margin-top: 50px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
    margin: 20px;
}

.checkOut{
    content: '';
    background:url('checkout-dark.png');
    background-size:cover;
    position:absolute;
    width:70px;
    height:70px;
    margin-top: 10px;
    margin-left: 8px;
}

.basket{
    content: '';
    background:url("basket.png");
    background-size:cover;
    /*position:absolute;*/
    width:50px;
    height:50px;
    /*margin-left:-70px;*/
    /*margin-top: -10px;*/
}

.total{
    padding-top: 50px;
    display: inline-flex;
}